* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}

/* banner section */

.banner {
  display: flex;
  background-image: url(images/banner/banner1.png);
  background-size: cover;
  height: 850px;
  justify-content: space-between;
  align-items: center;
}

.banner-section {
  padding: 230px;
  width: 35%;
}

.banner-title {
  font-size: 65px;
  font-weight: 700;
  color: #151414;
  margin-bottom: 24px;
}

.banner-description {
  font-size: 16px;
  font-weight: 400;
  color: #444343;
}

.btn-primary {
  margin-top: 30px;
  width: 130px;
  height: 64px;
  background-color: #f15b22;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  font-weight: 400;
}

/* failur section */

.pervious-year {
  width: 1080px;
  display: flex;
  margin: 140px 260px;
  align-items: center;
  gap: 100px;
  margin-bottom: 130px;
}

.year-title {
  font-size: 40px;
  font-weight: 700px;
  color: #151414;
  margin-bottom: 24px;
}

.year-description {
  font-size: 16px;
  font-weight: 400;
  color: #444343;
  margin-bottom: 16px;
}

.check img {
  width: 1%;
}

.key-year,
h3 {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #8b8787;
}

/* plan section  */

.plan-section {
  width: 1200px;
  margin: 140px 260px;
  margin-bottom: 130px;
}

.plan-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700px;
  margin-bottom: 56px;
}

.plan-items {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  align-items: center;
}

.plan-item {
  text-align: center;
  align-items: center;
}

.plan-item h2 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #151414;
}

.plan-item p {
  font-size: 20px;
  font-weight: 500;
}
